<h1>This is profile "<%= @user.username %>"</h2>

  <% if current_user == @user %>
    <h3>This is your page.</h3>

    <h2>Master goal:</h2>
    <%= form_with(model: [ @user, @master_goal = @user.build_master_goal ], local: true) do |form| %>
      <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
      </p>
      <p>
        <%= form.label :specific %><br>
        <%= form.text_area :specific %>
      </p>
      <p>
        <%= form.label :measurable %><br>
        <%= form.text_area :measurable %>
      </p>
      <p>
        <%= form.label :action %><br>
        <%= form.text_area :action %>
      </p>
      <p>
        <%= form.label :realistic %><br>
        <%= form.text_area :realistic %>
      </p>
      <p>
        <%= form.label :time %><br>
        <%= form.text_area :time %>
      </p>
      <p>
        <%= form.label :why %><br>
        <%= form.text_area :why %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>

  <% else %>
    <h3>Not your page!!!</h3>
  <% end %>
