<!DOCTYPE html>
<html>
  <head>
    <title>Golo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= yield %>

  <br>

  <% if logged_in? %>
    <%= button_to "Logout", sessions_path, method: :delete %>
  <% else %>
    <%= button_to "Login Page", login_path, method: :get %>
  <% end %>
  </body>
</html>
